.bg-1 {
  background-color: #fff9d2; }

.bg-2 {
  background-color: #f8e2c1; }

.bg-3 {
  background-color: #f7dfdf; }

.bg-4 {
  background-color: #ffe6b5; }

.bg-5 {
  background-color: #caf4ff; }

.bg-6 {
  background-color: #d2f9c3; }

.bg-7 {
  background-color: #f38888; }

/************************************
   Include Typography
*************************************/
/*===========Font light===========*/
@font-face {
  font-family: 'Cerebri-light';
  src: url("../fonts/cerebrisans-light.eot");
  src: url("../fonts/cerebrisans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisans-light.woff") format("woff"), url("../fonts/cerebrisans-light.woff2") format("woff"), url("../fonts/cerebrisans-light.ttf") format("truetype"), url("../fonts/cerebrisans-light.svg#cerebrisans-light") format("svg");
  font-weight: normal;
  font-style: normal; }

/*===========Font light italic===========*/
@font-face {
  font-family: 'Cerebri-light-italic';
  src: url("../fonts/cerebrisans-lightitalic.eot");
  src: url("../fonts/cerebrisans-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisans-lightitalic.woff") format("woff"), url("../fonts/cerebrisans-lightitalic.woff2") format("woff"), url("../fonts/cerebrisans-lightitalic.ttf") format("truetype"), url("../fonts/cerebrisans-lightitalic.svg#cerebrisans-lightitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

/*===========Font regular===========*/
@font-face {
  font-family: 'Cerebri-regular';
  src: url("../fonts/cerebrisans-regular.eot");
  src: url("../fonts/cerebrisans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisans-regular.woff") format("woff"), url("../fonts/cerebrisans-regular.woff2") format("woff"), url("../fonts/cerebrisans-regular.ttf") format("truetype"), url("../fonts/cerebrisans-regular.svg#cerebrisans-regular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*===========Font regular italic===========*/
@font-face {
  font-family: 'Cerebri-italic';
  src: url("../fonts/cerebrisans-italic.eot");
  src: url("../fonts/cerebrisans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisans-italic.woff") format("woff"), url("../fonts/cerebrisans-italic.woff2") format("woff"), url("../fonts/cerebrisans-italic.ttf") format("truetype"), url("../fonts/cerebrisans-italic.svg#cerebrisans-italic") format("svg");
  font-weight: normal;
  font-style: normal; }

/*===========Font medium===========*/
@font-face {
  font-family: 'Cerebri-medium';
  src: url("../fonts/cerebrisans-medium.eot");
  src: url("../fonts/cerebrisans-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisans-medium.woff") format("woff"), url("../fonts/cerebrisans-medium.woff2") format("woff"), url("../fonts/cerebrisans-medium.ttf") format("truetype"), url("../fonts/cerebrisans-medium.svg#cerebrisans-medium") format("svg");
  font-weight: normal;
  font-style: normal; }

/*===========Font medium italic===========*/
@font-face {
  font-family: 'Cerebri-medium-italic';
  src: url("../fonts/cerebrisans-mediumitalic.eot");
  src: url("../fonts/cerebrisans-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisans-mediumitalic.woff") format("woff"), url("../fonts/cerebrisans-mediumitalic.woff2") format("woff"), url("../fonts/cerebrisans-mediumitalic.ttf") format("truetype"), url("../fonts/cerebrisans-mediumitalic.svg#cerebrisans-mediumitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

/*===========Font bold===========*/
@font-face {
  font-family: 'Cerebri-bold';
  src: url("../fonts/cerebrisans-bold.eot");
  src: url("../fonts/cerebrisans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisans-bold.woff") format("woff"), url("../fonts/cerebrisans-bold.woff2") format("woff"), url("../fonts/cerebrisans-bold.ttf") format("truetype"), url("../fonts/cerebrisans-bold.svg#cerebrisans-bold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*===========Font bold===========*/
@font-face {
  font-family: 'Cerebri-bold-italic';
  src: url("../fonts/cerebrisans-bolditalic.eot");
  src: url("../fonts/cerebrisans-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisans-bolditalic.woff") format("woff"), url("../fonts/cerebrisans-bolditalic.woff2") format("woff"), url("../fonts/cerebrisans-bolditalic.ttf") format("truetype"), url("../fonts/cerebrisans-bolditalic.svg#cerebrisans-bolditalic") format("svg");
  font-weight: normal;
  font-style: normal; }

/*===========Font extra bold===========*/
@font-face {
  font-family: 'Cerebri-extrabold';
  src: url("../fonts/cerebrisans-extrabold.eot");
  src: url("../fonts/cerebrisans-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisans-extrabold.woff") format("woff"), url("../fonts/cerebrisans-extrabold.woff2") format("woff"), url("../fonts/cerebrisans-extrabold.ttf") format("truetype"), url("../fonts/cerebrisans-extrabold.svg#cerebrisans-extrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*===========Font extra bold italic===========*/
@font-face {
  font-family: 'Cerebri-extrabold-italic';
  src: url("../fonts/cerebrisans-extrabolditalic.eot");
  src: url("../fonts/cerebrisans-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebrisans-extrabolditalic.woff") format("woff"), url("../fonts/cerebrisans-extrabolditalic.woff2") format("woff"), url("../fonts/cerebrisans-extrabolditalic.ttf") format("truetype"), url("../fonts/cerebrisans-extrabolditalic.svg#cerebrisans-extrabolditalic") format("svg");
  font-weight: normal;
  font-style: normal; }

/************************************
   Header
*************************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  transition: .4s ease; }
  header .header-wrapper {
    box-shadow: 0px 4px 18px 0 rgba(32, 45, 73, 0.1);
    background-color: #fff;
    padding: 25px 0;
    transition: .4s ease; }
    header .header-wrapper .logo {
      display: inline-block; }
    header .header-wrapper .mobile-menu {
      display: none;
      text-align: right; }
      header .header-wrapper .mobile-menu #showMenu {
        position: relative;
        font-size: 20px;
        color: #1d2c44;
        line-height: 1;
        display: inline-block;
        transition: 0.3s ease; }
        header .header-wrapper .mobile-menu #showMenu:hover {
          color: #f17070;
          text-decoration: none; }
    header .header-wrapper .header-menu ul {
      text-align: center;
      padding-left: 0;
      margin-bottom: 0; }
      header .header-wrapper .header-menu ul .nav-item {
        list-style: none;
        display: inline-block; }
        header .header-wrapper .header-menu ul .nav-item:hover .pisen-nav-link:before {
          width: calc(100% - 50px); }
        header .header-wrapper .header-menu ul .nav-item:hover .sub-menu {
          opacity: 1;
          visibility: visible; }
        header .header-wrapper .header-menu ul .nav-item .pisen-nav-link {
          font-family: "Cerebri-bold";
          font-size: 16px;
          color: #1d2c44;
          line-height: 24px;
          display: inline-block;
          -webkit-transition: 0.3s ease;
          -moz-transition: 0.3s ease;
          -ms-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          transition: 0.3s ease;
          display: inline-block;
          padding: 15px 25px;
          position: relative;
          text-transform: capitalize; }
          header .header-wrapper .header-menu ul .nav-item .pisen-nav-link:hover {
            color: #1d2c44;
            text-decoration: none; }
          header .header-wrapper .header-menu ul .nav-item .pisen-nav-link:before {
            background-color: #f17070;
            content: "";
            display: block;
            position: absolute;
            height: 3px;
            width: 0px;
            bottom: 10px;
            -webkit-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
            -moz-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
            -ms-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
            -o-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
            transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71); }
          header .header-wrapper .header-menu ul .nav-item .pisen-nav-link.active:before {
            width: calc(100% - 50px); }
        header .header-wrapper .header-menu ul .nav-item .submenu-opener {
          display: none; }
        header .header-wrapper .header-menu ul .nav-item .sub-menu {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          background-color: #fff;
          z-index: 10;
          text-align: left;
          padding: 30px;
          border-radius: 5px;
          box-shadow: 0px 4px 18px 0 rgba(32, 45, 73, 0.1);
          overflow: hidden;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease; }
          header .header-wrapper .header-menu ul .nav-item .sub-menu .sub-menu_item {
            list-style: none; }
            header .header-wrapper .header-menu ul .nav-item .sub-menu .sub-menu_item .sub-menu-link {
              font-family: "Cerebri-regular";
              font-size: 16px;
              color: #1d2c44;
              line-height: 40px;
              display: inline-block;
              -webkit-transition: 0.3s ease;
              -moz-transition: 0.3s ease;
              -ms-transition: 0.3s ease;
              -o-transition: 0.3s ease;
              transition: 0.3s ease;
              text-transform: capitalize;
              position: relative; }
              header .header-wrapper .header-menu ul .nav-item .sub-menu .sub-menu_item .sub-menu-link:hover {
                color: #1d2c44;
                text-decoration: none; }
              header .header-wrapper .header-menu ul .nav-item .sub-menu .sub-menu_item .sub-menu-link:hover:before {
                width: 100%; }
              header .header-wrapper .header-menu ul .nav-item .sub-menu .sub-menu_item .sub-menu-link:before {
                background-color: #f17070;
                content: "";
                display: block;
                position: absolute;
                height: 3px;
                width: 0px;
                bottom: 5px;
                -webkit-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
                -moz-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
                -ms-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
                -o-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
                transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71); }
    header .header-wrapper .menu-function {
      text-align: right; }
      header .header-wrapper .menu-function #search {
        display: inline-block; }
        header .header-wrapper .menu-function #search:after {
          content: "|";
          margin: 0 20px;
          font-size: 16px;
          color: #a4a8b0; }
        header .header-wrapper .menu-function #search .search-btn {
          font-size: 16px;
          color: #1d2c44;
          line-height: 1;
          display: inline-block;
          transition: 0.3s ease;
          display: inline-block; }
          header .header-wrapper .menu-function #search .search-btn:hover {
            color: #f17070;
            text-decoration: none; }
      header .header-wrapper .menu-function .social-contact {
        display: inline-block; }
        header .header-wrapper .menu-function .social-contact a {
          font-size: 16px;
          color: #1d2c44;
          line-height: 1;
          display: inline-block;
          transition: 0.3s ease;
          margin: 0 10px; }
          header .header-wrapper .menu-function .social-contact a:hover {
            color: #f17070;
            text-decoration: none; }
          header .header-wrapper .menu-function .social-contact a:first-child {
            margin-left: 0; }
          header .header-wrapper .menu-function .social-contact a:last-child {
            margin-right: 0; }
      header .header-wrapper .menu-function #cart {
        font-size: 16px;
        color: #1d2c44;
        line-height: 1;
        display: inline-block;
        transition: 0.3s ease;
        display: inline-block; }
        header .header-wrapper .menu-function #cart:hover {
          color: #f17070;
          text-decoration: none; }

/************************************
   Header mobile
*************************************/
header.mobile .header-wrapper .logo {
  white-space: no-wrap; }

header.mobile .header-wrapper .mobile-menu {
  display: block; }

header.mobile .header-wrapper .navigation {
  z-index: 35;
  box-shadow: 0px 4px 18px 0 rgba(32, 45, 73, 0.1);
  position: fixed;
  top: 0;
  left: -100%;
  width: 80vw;
  height: 100vh;
  background-color: #fff;
  padding: 30px;
  overflow-y: auto;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  header.mobile .header-wrapper .navigation ul {
    text-align: left; }
    header.mobile .header-wrapper .navigation ul .nav-item {
      display: block;
      margin-bottom: 20px;
      position: relative; }
      header.mobile .header-wrapper .navigation ul .nav-item .pisen-nav-link {
        padding: 0; }
        header.mobile .header-wrapper .navigation ul .nav-item .pisen-nav-link:before {
          display: none; }
      header.mobile .header-wrapper .navigation ul .nav-item .submenu-opener {
        position: absolute;
        right: 0;
        top: 5px;
        display: inline-block; }
      header.mobile .header-wrapper .navigation ul .nav-item .sub-menu {
        margin-top: 20px;
        position: unset;
        opacity: 1;
        visibility: visible;
        display: none;
        padding: 0;
        box-shadow: none;
        padding-left: 30px;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none; }

header.mobile .header-wrapper .menu-function {
  display: none; }

@media (min-width: 576px) and (max-width: 767px) {
  header.mobile .header-wrapper .navigation {
    width: 50vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  header.mobile .header-wrapper .navigation {
    width: 50vw; } }

@media (min-width: 992px) and (max-width: 1199px) {
  header.mobile .header-wrapper .navigation {
    width: 30vw; } }

#main {
  padding-top: 150px; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.43);
  z-index: 25; }

/************************************
   Posts
*************************************/
.posts {
  cursor: default; }
  .posts .post-describe {
    font-family: "Cerebri-regular";
    font-size: 17px;
    color: #646d7c;
    line-height: 26px;
    display: block; }
  .posts .post-title {
    font-family: "Cerebri-bold";
    font-size: 36px;
    color: #1d2c44;
    line-height: 44px;
    display: inline-block;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .posts .post-title:hover {
      color: #f17070;
      text-decoration: none; }
    .posts .post-title.regular {
      font-family: "Cerebri-bold";
      font-size: 26px;
      color: #1d2c44;
      line-height: 30px;
      display: inline-block;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      .posts .post-title.regular:hover {
        color: #f17070;
        text-decoration: none; }
    .posts .post-title.small {
      font-family: "Cerebri-bold";
      font-size: 20px;
      color: #1d2c44;
      line-height: 24px;
      display: inline-block;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      .posts .post-title.small:hover {
        color: #f17070;
        text-decoration: none; }
    .posts .post-title:hover {
      text-decoration: underline; }
  .posts .upload-day, .posts .author-name {
    font-family: "Cerebri-regular";
    font-size: 14px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    text-transform: uppercase;
    margin-right: 30px; }
  .posts .author-name.mini {
    font-size: 12px; }
  .posts .post-tag.mini a {
    font-size: 12px; }
  .posts .post-tag a {
    font-family: "Cerebri-regular";
    font-size: 14px;
    color: #f17070;
    line-height: 1;
    display: inline-block;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    text-transform: uppercase; }
    .posts .post-tag a:hover {
      color: #f17070;
      text-decoration: none; }
    .posts .post-tag a:before {
      content: "#"; }
  .posts .post-img {
    width: 100%;
    overflow: hidden; }
    .posts .post-img img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .posts .author-avatar {
    height: 35px;
    width: 35px;
    border-radius: 999px;
    overflow: hidden;
    margin-right: 20px; }
    .posts .author-avatar img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
  .posts .post-video .plyr {
    min-width: auto; }
    .posts .post-video .plyr .plyr__controls {
      opacity: 0;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.42)); }
      .posts .post-video .plyr .plyr__controls .plyr__control:hover {
        background-color: #f17070; }
      .posts .post-video .plyr .plyr__controls .plyr__control.plyr__tab-focus {
        background: #f17070; }
        .posts .post-video .plyr .plyr__controls .plyr__control.plyr__tab-focus:hover {
          background-color: #f17070; }
    .posts .post-video .plyr .plyr__poster {
      background-size: cover; }
    .posts .post-video .plyr .plyr__control--overlaid {
      background-color: #fff;
      color: #000;
      font-size: 16px;
      border-radius: 999px;
      -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
      -ms-border-radius: 999px;
      -o-border-radius: 999px;
      padding: 20px;
      text-transform: uppercase;
      font-family: 'Cerebri-bold';
      border: 0 solid #f17070;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      display: inline-block; }
      .posts .post-video .plyr .plyr__control--overlaid:hover {
        background-color: #f17070;
        color: #fff;
        border: 0 solid #f17070;
        text-decoration: none; }
      .posts .post-video .plyr .plyr__control--overlaid:focus {
        outline: 0;
        box-shadow: 0; }
  .posts .post-video .plyr--full-ui input[type=range] {
    color: #f17070; }
  .posts .slick-arrow {
    background-color: rgba(255, 255, 255, 0.65);
    color: #000;
    font-size: 16px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Cerebri-bold';
    border: 0 solid #f17070;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    display: inline-block;
    opacity: 1;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    height: 80px;
    z-index: 5; }
    .posts .slick-arrow:hover {
      background-color: #f17070;
      color: #fff;
      border: 0 solid #f17070;
      text-decoration: none; }
    .posts .slick-arrow:focus {
      outline: 0;
      box-shadow: 0; }
  .posts .slide-prev {
    left: 0; }
  .posts .slide-next {
    right: 0; }

/************************************
   	Typography
*************************************/
.title {
  font-family: "Cerebri-bold";
  font-size: 36px;
  color: #1d2c44;
  line-height: 44px;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .title:hover {
    color: #f17070;
    text-decoration: none; }
  .title:hover {
    text-decoration: underline; }

.title-small {
  font-family: "Cerebri-bold";
  font-size: 26px;
  color: #1d2c44;
  line-height: 35px;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .title-small:hover {
    color: #f17070;
    text-decoration: none; }
  .title-small:hover {
    text-decoration: underline; }

.bundle-title {
  font-family: "Cerebri-bold";
  font-size: 30px;
  color: #1d2c44;
  line-height: 1;
  display: block; }

/************************************
   Centering container
*************************************/
.bg-center {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/************************************
   Button
*************************************/
.normal-btn {
  background-color: #f17070;
  color: #fff;
  font-size: 14px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-family: 'Cerebri-bold';
  border: 2px solid #f17070;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  display: inline-block; }
  .normal-btn:hover {
    background-color: #fff;
    color: #f17070;
    border: 2px solid #f17070;
    text-decoration: none; }
  .normal-btn:focus {
    outline: 0;
    box-shadow: 0; }

.icon-btn {
  background-color: #edf0f5;
  color: #1d2c44;
  font-size: 14px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  padding: 7px;
  text-transform: uppercase;
  font-family: 'Cerebri-bold';
  border: 2px solid #edf0f5;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  display: inline-block;
  font-family: inherit;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 10px; }
  .icon-btn:hover {
    background-color: #f17070;
    color: #fff;
    border: 2px solid #f17070;
    text-decoration: none; }
  .icon-btn:focus {
    outline: 0;
    box-shadow: 0; }
  .icon-btn:last-child {
    margin-right: 0; }

/************************************
  	Footer
*************************************/
footer {
  padding-bottom: 30px; }
  footer .footer-link--title {
    font-family: "Cerebri-bold";
    font-size: 20px;
    color: #1d2c44;
    line-height: 1;
    display: block;
    margin-bottom: 25px; }
  footer .footer-links ul li {
    list-style: none; }
    footer .footer-links ul li .footer-link {
      font-family: "Cerebri-regular";
      font-size: 16px;
      color: #646d7c;
      line-height: 36px;
      display: inline-block;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      position: relative; }
      footer .footer-links ul li .footer-link:hover {
        color: #f17070;
        text-decoration: none; }
      footer .footer-links ul li .footer-link:hover:before {
        width: 100%; }
      footer .footer-links ul li .footer-link:before {
        background-color: #f17070;
        content: "";
        display: block;
        position: absolute;
        height: 3px;
        width: 0px;
        bottom: 0px;
        -webkit-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
        -moz-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
        -ms-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
        -o-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
        transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71); }
  footer .footer-contact .contact-method {
    margin-bottom: 20px; }
    footer .footer-contact .contact-method p {
      font-family: "Cerebri-regular";
      font-size: 16px;
      color: #646d7c;
      line-height: 26px;
      display: block;
      margin-bottom: 10px; }
  footer form .email-form {
    position: relative;
    margin-bottom: 20px; }
    footer form .email-form button {
      position: absolute;
      top: 50%;
      right: 10px;
      border: 0;
      background-color: transparent;
      transform: translateY(-50%);
      font-family: "Cerebri-regular";
      font-size: 16px;
      color: #646d7c;
      line-height: 36px;
      display: inline-block;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      footer form .email-form button:hover {
        color: #f17070;
        text-decoration: none; }
  footer form .read-policy {
    margin-bottom: 20px; }
    footer form .read-policy label {
      font-family: "Cerebri-regular";
      font-size: 14px;
      color: #646d7c;
      line-height: 20px;
      display: block;
      display: inline-block; }
  footer .copyright {
    font-family: "Cerebri-regular";
    font-size: 14px;
    color: #a4a8b0;
    line-height: 20px;
    display: block; }

/************************************
   Footer v2
*************************************/
footer.v2 {
  background-color: #f3f3f3;
  padding: 70px 0; }
  footer.v2 .social-contact {
    margin-bottom: 30px; }
  footer.v2 .footer-links ul li {
    display: inline-block;
    margin: 0 25px; }

@media (max-width: 576px) {
  footer .footer-contact {
    margin-bottom: 30px; }
  footer.v2 .footer-links ul li {
    margin: 0 10px; } }

@media (min-width: 576px) and (max-width: 767px) {
  footer .footer-contact {
    margin-bottom: 30px; }
  footer.v2 .footer-links ul li {
    margin: 0 10px; } }

/************************************
   	Input form
*************************************/
.input-form {
  background-color: #edf0f5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border: 1px solid #edf0f5;
  padding: 0 20px;
  height: 45px;
  width: 100%;
  transition: border 0.3s ease;
  font-family: "Cerebri-regular";
  font-size: 16px;
  color: #646d7c;
  line-height: 1;
  display: block; }
  .input-form:focus {
    outline: 0;
    box-shadow: none;
    border-color: #a4a8b0; }
  .input-form::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .input-form:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #909;
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .input-form::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #909;
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .input-form:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .input-form::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .input-form::placeholder {
    /* Most modern browsers support this now. */
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .input-form.trans-bg {
    background-color: transparent; }

.textarea-form {
  background-color: #edf0f5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border: 1px solid #edf0f5;
  padding: 20px;
  width: 100%;
  transition: border 0.3s ease;
  font-family: "Cerebri-regular";
  font-size: 16px;
  color: #646d7c;
  line-height: 1;
  display: block; }
  .textarea-form:focus {
    outline: 0;
    box-shadow: none;
    border-color: #a4a8b0; }
  .textarea-form::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #909;
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #909;
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form::placeholder {
    /* Most modern browsers support this now. */
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #a4a8b0;
    line-height: 1;
    display: block;
    line-height: -moz-block-height; }
  .textarea-form.trans-bg {
    background-color: transparent; }

/************************************
   Search fullscreen
*************************************/
#search-full {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  #search-full #exit-search-box {
    background-color: transparent;
    border: 0;
    font-size: 30px;
    color: #a4a8b0;
    line-height: 1;
    display: inline-block;
    transition: 0.3s ease;
    position: absolute;
    top: 20px;
    right: 30px; }
    #search-full #exit-search-box:hover {
      color: #1d2c44;
      text-decoration: none; }
  #search-full .search-box {
    position: relative; }
    #search-full .search-box input {
      background-color: #edf0f5;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border: 1px solid #edf0f5;
      padding: 0 50px 0 20px;
      height: 70px;
      width: 100%;
      transition: border 0.3s ease;
      font-family: "Cerebri-regular";
      font-size: 16px;
      color: #646d7c;
      line-height: 1;
      display: block;
      border-width: 0 0 2px 0;
      background-color: transparent;
      width: 50vw;
      font-family: "Cerebri-regular";
      font-size: 28px;
      color: #646d7c;
      line-height: 1;
      display: block; }
      #search-full .search-box input:focus {
        outline: 0;
        box-shadow: none;
        border-color: #a4a8b0; }
      #search-full .search-box input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        font-family: "Cerebri-regular";
        font-size: 16px;
        color: #a4a8b0;
        line-height: 1;
        display: block;
        line-height: -moz-block-height; }
      #search-full .search-box input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #909;
        font-family: "Cerebri-regular";
        font-size: 16px;
        color: #a4a8b0;
        line-height: 1;
        display: block;
        line-height: -moz-block-height; }
      #search-full .search-box input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #909;
        font-family: "Cerebri-regular";
        font-size: 16px;
        color: #a4a8b0;
        line-height: 1;
        display: block;
        line-height: -moz-block-height; }
      #search-full .search-box input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: "Cerebri-regular";
        font-size: 16px;
        color: #a4a8b0;
        line-height: 1;
        display: block;
        line-height: -moz-block-height; }
      #search-full .search-box input::-ms-input-placeholder {
        /* Microsoft Edge */
        font-family: "Cerebri-regular";
        font-size: 16px;
        color: #a4a8b0;
        line-height: 1;
        display: block;
        line-height: -moz-block-height; }
      #search-full .search-box input::placeholder {
        /* Most modern browsers support this now. */
        font-family: "Cerebri-regular";
        font-size: 16px;
        color: #a4a8b0;
        line-height: 1;
        display: block;
        line-height: -moz-block-height; }
      #search-full .search-box input::placeholder {
        font-size: 30px; }
    #search-full .search-box button {
      position: absolute;
      background-color: transparent;
      border: 0;
      font-size: 30px;
      color: #a4a8b0;
      line-height: 1;
      display: inline-block;
      transition: 0.3s ease;
      top: 50%;
      right: 5px;
      transform: translateY(-50%); }
      #search-full .search-box button:hover {
        color: #1d2c44;
        text-decoration: none; }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.4s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/************************************
   Post classic
*************************************/
.posts {
  margin-bottom: 60px; }
  .posts .post-classic.mini-post-classic .post-img {
    margin-bottom: 15px; }
    .posts .post-classic.mini-post-classic .post-img img {
      width: 100%; }
  .posts .post-classic.mini-post-classic .post-detail .post-credit {
    overflow-x: visible;
    margin-bottom: 0; }
    .posts .post-classic.mini-post-classic .post-detail .post-credit .post-tag {
      margin-bottom: 10px; }
      .posts .post-classic.mini-post-classic .post-detail .post-credit .post-tag a {
        font-size: 12px; }
    .posts .post-classic.mini-post-classic .post-detail .post-credit .author .author-name {
      font-size: 12px; }

/************************************
   Post classic text in
*************************************/
.posts .post-classic-tib, .posts .post-video-text-in_block {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .posts .post-classic-tib .post-detail, .posts .post-video-text-in_block .post-detail {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    z-index: 5; }
    .posts .post-classic-tib .post-detail .post-title, .posts .post-video-text-in_block .post-detail .post-title {
      font-family: "Cerebri-bold";
      font-size: 24px;
      color: #fff;
      line-height: 26px;
      display: inline-block;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      margin-bottom: 20px; }
      .posts .post-classic-tib .post-detail .post-title:hover, .posts .post-video-text-in_block .post-detail .post-title:hover {
        color: #fff;
        text-decoration: none; }
      .posts .post-classic-tib .post-detail .post-title:hover, .posts .post-video-text-in_block .post-detail .post-title:hover {
        text-decoration: underline; }
    .posts .post-classic-tib .post-detail .post-credit, .posts .post-video-text-in_block .post-detail .post-credit {
      margin-bottom: 0;
      overflow-x: unset; }
      .posts .post-classic-tib .post-detail .post-credit .post-tag, .posts .post-video-text-in_block .post-detail .post-credit .post-tag {
        margin-bottom: 15px; }
        .posts .post-classic-tib .post-detail .post-credit .post-tag a, .posts .post-video-text-in_block .post-detail .post-credit .post-tag a {
          color: #fff;
          display: inline-block;
          background-color: #f17070;
          padding: 5px 10px;
          border-radius: 2px;
          font-size: 12px; }
      .posts .post-classic-tib .post-detail .post-credit .author .author-name, .posts .post-video-text-in_block .post-detail .post-credit .author .author-name {
        font-size: 12px;
        color: #fff; }
  .posts .post-classic-tib .post-overlay, .posts .post-video-text-in_block .post-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(250, 250, 250, 0) 0%, rgba(97, 97, 97, 0.2) 32%, rgba(0, 0, 0, 0.17) 51%, rgba(0, 0, 0, 0.52) 100%); }

/************************************
  	Scroll up
*************************************/
#scrollUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #f17070;
  color: #fff;
  font-size: 14px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  padding: 8px;
  text-transform: uppercase;
  font-family: 'Cerebri-bold';
  border: 2px solid #f17070;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center; }
  #scrollUp:hover {
    background-color: #fff;
    color: #f17070;
    border: 2px solid #f17070;
    text-decoration: none; }
  #scrollUp:focus {
    outline: 0;
    box-shadow: 0; }

/************************************
   	Hover
*************************************/
.hvr-lighter, .product-block .product-img {
  position: relative; }
  .hvr-lighter:hover:after, .product-block .product-img:hover:after {
    opacity: 1;
    visibility: visible; }
  .hvr-lighter:after, .product-block .product-img:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

/************************************
   Blog 2 column
*************************************/
.blog-2col .post-block {
  margin-bottom: 70px; }
  .blog-2col .post-block .post-img {
    height: auto;
    max-height: 350px; }
    .blog-2col .post-block .post-img img {
      width: 100%; }
  .blog-2col .post-block .post-video .plyr {
    max-height: 300px;
    border-radius: 5px; }
    .blog-2col .post-block .post-video .plyr .plyr__poster {
      background-size: cover; }

.blog-2col .post-detail .post-title {
  margin-bottom: 20px; }

.blog-2col .post-detail .post-credit {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto; }
  .blog-2col .post-detail .post-credit .author {
    display: flex;
    align-items: center; }

.blog-2col .post-classic .post-img {
  margin-bottom: 40px;
  max-height: 350px; }

.blog-2col .post-with-video .post-video {
  margin-bottom: 40px; }

@media (max-width: 576px) {
  .blog-2col .post-block .post-img {
    max-height: unset; } }

@media (min-width: 576px) and (max-width: 767px) {
  .blog-2col .post-block .post-img {
    max-height: unset; } }

@media (min-width: 768px) and (max-width: 991px) {
  .blog-2col .post-block .post-img {
    max-height: unset; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .blog-2col .post-block .post-img {
    max-height: unset; } }

/************************************
  	About us
*************************************/
.about-us .about-title {
  font-family: "Cerebri-bold";
  font-size: 36px;
  color: #1d2c44;
  line-height: 1;
  display: block;
  margin-bottom: 25px; }

.about-us .about-breadcrumb {
  font-family: "Cerebri-regular";
  font-size: 16px;
  color: #1d2c44;
  line-height: 1;
  display: block;
  margin-bottom: 30px; }
  .about-us .about-breadcrumb span {
    color: #f17070; }

.about-us .about-us_block .about-us_img {
  margin-bottom: 20px; }

.about-us .about-us_block .about-paragraph {
  font-family: "Cerebri-regular";
  font-size: 16px;
  color: #1d2c44;
  line-height: 24px;
  display: block;
  margin-bottom: 25px; }

.about-us .count-up_wrapper .count-up_block {
  width: 188px;
  background-color: #fff;
  box-shadow: 0px 4px 18px 0 rgba(32, 45, 73, 0.1);
  display: inline-block;
  border-radius: 999px;
  padding: 60px 0;
  text-align: center;
  transition: 0.3s ease; }
  .about-us .count-up_wrapper .count-up_block:hover {
    background-color: #f17070; }
    .about-us .count-up_wrapper .count-up_block:hover span {
      color: #fff; }
    .about-us .count-up_wrapper .count-up_block:hover p {
      color: #fff; }
  .about-us .count-up_wrapper .count-up_block span {
    font-family: "Cerebri-bold";
    font-size: 36px;
    color: #1d2c44;
    line-height: 1;
    display: block;
    margin-bottom: 15px; }
  .about-us .count-up_wrapper .count-up_block p {
    font-family: "Cerebri-regular";
    font-size: 18px;
    color: #646d7c;
    line-height: 1;
    display: block; }

.about-us .our-team {
  background-color: #f9f9f9;
  padding: 175px 0 70px 0;
  margin-top: -100px; }
  .about-us .our-team p {
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #1d2c44;
    line-height: 24px;
    display: block;
    max-width: 520px;
    margin-bottom: 60px; }
  .about-us .our-team .team-block {
    position: relative;
    overflow: hidden; }
    .about-us .our-team .team-block img {
      width: 100%;
      height: 295px;
      object-fit: cover; }
    .about-us .our-team .team-block:hover .team-social {
      transform: translateY(0); }
    .about-us .our-team .team-block .team-social {
      background-color: #fff;
      text-align: center;
      padding: 10px 0;
      position: absolute;
      bottom: 30px;
      left: 30px;
      right: 30px;
      transform: translateY(100px);
      z-index: 2;
      -webkit-transition: all 0.4s cubic-bezier(0.42, 0.97, 0.52, 1.49);
      -moz-transition: all 0.4s cubic-bezier(0.42, 0.97, 0.52, 1.49);
      -ms-transition: all 0.4s cubic-bezier(0.42, 0.97, 0.52, 1.49);
      -o-transition: all 0.4s cubic-bezier(0.42, 0.97, 0.52, 1.49);
      transition: all 0.4s cubic-bezier(0.42, 0.97, 0.52, 1.49); }
      .about-us .our-team .team-block .team-social a {
        font-size: 16px;
        color: #1d2c44;
        line-height: 24px;
        display: inline-block;
        transition: 0.3s ease;
        margin: 0 10px; }
        .about-us .our-team .team-block .team-social a:hover {
          color: #f17070;
          text-decoration: none; }
        .about-us .our-team .team-block .team-social a:last-child {
          margin-right: 0; }
        .about-us .our-team .team-block .team-social a:first-child {
          margin-left: 0; }

@media (max-width: 576px) {
  .about-us .count-up_wrapper .count-up_block {
    width: 130px;
    padding: 30px 0;
    margin-bottom: 30px; }
  .about-us .our-team .team-block {
    margin-bottom: 30px; }
    .about-us .our-team .team-block .team-social {
      transform: translateY(0px); } }

@media (min-width: 576px) and (max-width: 767px) {
  .about-us .count-up_wrapper .count-up_block {
    margin-bottom: 30px; }
  .about-us .our-team .team-block {
    margin-bottom: 30px; }
    .about-us .our-team .team-block .team-social {
      transform: translateY(0px); } }

@media (min-width: 768px) and (max-width: 991px) {
  .about-us .count-up_wrapper .count-up_block {
    width: 130px;
    padding: 30px 0;
    margin-bottom: 30px; }
  .about-us .our-team .team-block {
    margin-bottom: 30px; }
    .about-us .our-team .team-block .team-social {
      transform: translateY(0px); } }

/************************************
   	Contact
*************************************/
.contact {
  margin-bottom: 70px; }
  .contact .map-contact {
    margin-bottom: 70px; }
    .contact .map-contact iframe {
      filter: grayscale(100%);
      box-shadow: 0px 4px 18px 0 rgba(32, 45, 73, 0.1); }
  .contact .contact-method {
    margin-bottom: 70px;
    text-align: center; }
    .contact .contact-method .icon-contact {
      background-color: #fff;
      box-shadow: 0px 4px 18px 0 rgba(32, 45, 73, 0.1);
      border-radius: 999px;
      display: inline-block;
      padding: 40px;
      margin-bottom: 40px; }
      .contact .contact-method .icon-contact i {
        font-size: 40px;
        color: #f17070; }
    .contact .contact-method .contact-detail h2 {
      font-family: "Cerebri-bold";
      font-size: 16px;
      color: #1d2c44;
      line-height: 1;
      display: block;
      margin-bottom: 10px; }
    .contact .contact-method .contact-detail p {
      font-family: "Cerebri-regular";
      font-size: 18px;
      color: #646d7c;
      line-height: 26px;
      display: block; }
  .contact .leave-message h1 {
    font-family: "Cerebri-bold";
    font-size: 36px;
    color: #1d2c44;
    line-height: 1;
    display: block;
    margin-bottom: 25px; }
  .contact .leave-message p {
    font-family: "Cerebri-regular";
    font-size: 16px;
    color: #646d7c;
    line-height: 1;
    display: block;
    margin-bottom: 50px; }
  .contact .leave-message form .form-row {
    margin-bottom: 50px; }

@media (min-width: 768px) and (max-width: 991px) {
  .contact .contact-method .contact-detail p {
    font-size: 14px; } }